.mess-avatar {
    width: 45px;
  height: 45px;
  border-radius: 50%;
}
.message-component-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: calc(100% - 70px);
    .avatar-wrapper .icon-star{
      width: 17px;
      height: 17px;
      line-height: 7px;

      svg{
        font-size: 10px;
      }
    }
}
.mess-hours-ago {
    font-family: Muli;
      font-size: 14px;
      line-height: 1.07;
      letter-spacing: normal;
      text-align: center;
      color: #999999;
      width: 50px;
      min-width: 50px;
  }
.message-preview-container {
    padding-left: 0px;
    padding-right: 0px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
   
}
.info-user {
    font-family: Muli;
    font-size: 1.3em;
    line-height: 1.22;
    color: #333333;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 10px;
    max-width: calc(100% - 50px);
    > p{
      margin-bottom: 0px;
      &.username {
        font-weight: bold;
      }
      &.mess-content {
        font-size: 0.8em;
        color: #666666;
        width: 100%;
        word-break: break-all;
        max-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .mess-border-bottom {
    border-bottom: 1px #cdcdcd;
    margin-left: 75px;
    margin-right: 20px;
    margin-top: 10px;
    border-bottom: 1px #ccc;
    margin-left: 55px;
    margin-right: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 0.3;
  }
