
::placeholder {
    font-family: Muli;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: normal;
    color: #999999;
}

.ant-tabs-tab {
    font-family: Muli;
    font-size: 1.3em;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
}
.ant-tabs-nav-wrap {
    display: flex;
    justify-content: center;
    text-align: center;
}
.ant-tabs-container {
    .ant-tabs-tab-active {
        font-weight: bold;
        color: #333333;
    }
    .ant-tabs-ink-bar {
        background: #081f47;
    }
}

.custom-tabs {
    .ant-tabs-nav-list {
        width: 100vw;
        > button {
            flex: 1;
            text-align: center;
            display: flex;
            justify-content: center;
        }
    }
}

.icon-top{
    font-size: 30px;
}

.icon-search{
    font-size: 22px;
}
