.image {

    
    width: 414px;
    height: 287px;
    margin-top: 230px;
}
.link {
    --f7-link-highlight-black: rgba(0, 0, 0, 0.1);
}
.back-text {
    font-family: Muli;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    padding-top: 25px;
    margin-left: 14px;
/* identical to box height */


color: #666666;
}
.cr-t1 {
    margin-top: 50px ;
    margin-left: 50px;
    font-family: Muli;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
/* identical to box height */


color: #081F47;
}
.cr-t2 {
    margin-top: -15px;
    margin-left: 50px;
font-family: Muli;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 50px;

color: #081F47;
}

.roleText {
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    margin-top: 1px;
    margin-left: -5px;
    
    /* identical to box height, or 130% */
  
    
    color: #262626;
}
.colContainer {
    
    margin-top: 38px;
}
.radio {
    --f7-radio-active-color: #DDAE53;
    --f7-radio-border-width: 1px;
    --f7-radio-border-color: #081F47;
    --f7-radio-size: 16px;
}
.cf-choice {
    margin-top: 386px;
    margin-left: 50px;
         margin-right: 50px;
        
}
.takerCol {
    margin-left: 0px;
}
.giverCol {
    margin-left: 59px;
}
.takerText {
    margin-left: -15px;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    margin-top: 0px;
}