
   
    .text1 {
        margin-left: 50px;
        margin-top: 55.8px;
        font-family: Muli;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 50px;

color: #081F47;
        }
        .text2 {
        margin-left: 50px;
        margin-top: -40px;
        font-family: Muli;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        /* identical to box height */
        
        
        color: #081F47;
        }
        .filledButton {
         margin-left: 50px;
         margin-right: 50px;
         margin-top: 86px;
         
        }
        .outlineButton {
            margin-left: 50px;
         margin-right: 50px;
         margin-top: 10px;
        }
        .label {
            margin-left: 40px;
            margin-top: 25px;

font-family: Muli;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 16px;

color: #91969E;
        }
        .formIcon {
            margin-left:  10px;
            margin-right: 10px;
            --f7-icon-color: #32363E;
        }
       
        .bottomText {
            
            text-align: center;
            font-family: Muli;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            /* identical to box height */
            
            color: #777777;
        }
        .bottomLink {
                color: #081F47;
font-family: Muli;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
         
        }
        .formFields {
             margin-left: 50px;
             margin-right: 50px;
             margin-top: 338px;
        }
    .fg-pw-text {
        margin-top: 20px;
        margin-left: 50px;
        font-family: Muli;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */
        
        
        color: #777777;
        
        }
        .code-t1 {
            margin-top: 55.08px;
            margin-left: 50px;
            font-family: Muli;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
/* identical to box height */


color: #081F47;
        }
        .code-t2 {
            margin-top: -15px;
            margin-left: 50px;
            font-family: Muli;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 50px;

color: #081F47;
        }
        .f7-icons, .framework7-icon {
            color: #32363E;
            margin-left: 20.25px;
            margin-top:28px;
            
          }
          .input {
            --f7-input-outline-border-color: #ffffff;
            --f7-input-inactive-border-color: #ffffff;
          }
          .textInput {
            margin-top: 35px;
            padding-left: 15px;
          }
          .borderInput {
              border-color: #262626;
                border-width: 1px;
                padding-left: 50px;
                padding-right: 50px;
          }
          .inputContainer {
              margin-top: -40px;
          }
          .inputIcon {
            margin-left: 0px;
            height: 18px;
            width: 13.64px;
            color: #32363E
          }