.image1 {
    width: 125px;
      height: 265px;
      position: absolute;
      left: 0px;
    top: 48px;
  }
  .image2{
    position: absolute;
    width: 151px;
    height: 235px;
    left: 263px;
    top: 584px;
  }
  .logo {
  position: absolute;
  width: 200.87px;
  height: 58.99px;
  left: 107.62px;
  top: 421px;
  }
  .splash-screen {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    
    
    @keyframes run {
      0% {
        left: -90px;
        color: #eee;
      }
      50% {
        color: #666;
      }
      100% {
        left: 90px;
        color: #eee;
      }
    }