ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown {
  width: 100%;
  position: relative;
  .toggle-button {
    border: solid 1px #e3e3e3;
    background-color: #ffffff;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    .value-text {
      color: #2b2b2b;
    }
    .dropdown-icon {
      width: 19px;
      height: 19px;
    }
  }
  .options-wrapper {
    width: 100%;
    position: absolute;
    border-bottom: solid 1px #e3e3e3;
    border-left: solid 1px #e3e3e3;
    border-right: solid 1px #e3e3e3;
    background-color: #ffffff;
    max-height: 250px;
    overflow: auto;
    z-index: 1;
    .option-list {
      .option-item {
        padding: 5px 10px;
        cursor: pointer;
        &:hover {
          background: #e3e3e3;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .z-index-1 {
    position: relative;
    z-index: 1;
  }

  .z-index-2 {
    position: relative;
    z-index: 2;
  }
}

.dropdown-disabled {
  background-color: #dddddd !important;
  cursor: not-allowed !important;
}
