@import "assets/css/variables.scss";

.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-picture-card-wrapper {
  .ant-upload-disabled {
    display: none;
  }
}
.wrapper-upload-custom {
  .ant-upload-select {
    background: white;
  }
  .upload-custom {
    .ant-upload-drag {
      height: 120px;
      margin-bottom: 15px;
    }
    .ant-upload-disabled {
      display: none;
    }
    .ant-upload-list {
      .ant-upload-list-item {
        border: none;
        padding: 0px;
        .ant-upload-list-item-info {
          border-radius: 3px;
        }
        .ant-upload-list-item-actions {
          color: white;
        }
      }
    }
  }
}
.fullscreen {
  .react-images__blanket {
    z-index: 1001;
  }
  .react-images__positioner {
    z-index: 1001;
  }
}
