// .user-image-container {
//     // background-image: url(/images/FullScreen/Full_screen_04.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
//     max-width: 768px;
//     height: 100%;
//     min-height: 100vh ;
//     padding-bottom: 75px;
// }
.userProfileContainer {
    max-width: 768px;
    height: 100%;
    min-height: 100vh ;
    padding-bottom: 75px;
}
.user-account-profile {
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 29px;
    padding-top: 15px;
    >.account-profile-info {
        >.account-profile-number {
    font-family: Muli;
      font-size: 2rem;
      font-weight: 800;
        }
        >p {
            font-family: Muli;
            font-size: 1.2em;
            font-weight: 500;
        }
    }
}
.link-to-propositions-container {
    display: flex;
    flex-direction: row;
    padding-left: 29px;
    padding-top: 10px;
    >p {
        font-family: Muli;
        font-size: 1.2em;
        font-weight: bold;
        color: #ffffff;
    }
    >img {
        position: relative;
        top: -8.5px;
        left: 5px;
    }
}
.edit-profile-container {
    width: 294px;
    border-radius: 37.5px;
    text-align: center;
    height: 60px;
    font-weight: bold;
    font-family: Muli;
    color: white;
    line-height: 1.44px;
    background-color: transparent;
    border-color: white;
   }
   .image-propositions {
    width: 160px;
    height: 180px;
    border-radius: 18px;
   }
   .propositons-container {
    display: inline-block;
    border-radius: 18px;
    background-repeat: no-repeat;
    margin-left: 15px;
    position: relative;
    > p {
        position: absolute;
        overflow: hidden;
        text-overflow: ellipsis; 
        font-family: Muli;
        font-size: 1em;
        font-weight: 500;
        color: #ffffff;
        margin-bottom: 0px;
        bottom: 15px;
        left: 0px;
        width: 100%;
        padding: 0px 15px;
        max-height: 48px;
        max-height: 48px;
        white-space: initial;
    }
   }
   .edit-button-container {
    padding-top: 30px;
   }
   .prop-container {
    overflow: auto;
    white-space: nowrap;
    padding-left: 14px;
   }
   .user-charity {
    font-size: 16px;
   }
   .propostion-image {
       width: 160px;
       height: 180px;
       border-radius: 18px;
   }
   .icon-star {
    border-radius: 50%;
    background-color: #ddae53;
    color: #ffffff;
    position: absolute;
    right: -5px;
    top: -5px;
    border: 3px solid #ffffff;
    padding: -100px;
    font-size: 23px;
    line-height: 10px;
}
.follow-button {
    background-color: transparent;
    width: 100px;
  height: 34px;
  border-radius: 17px;
  border: solid 1.5px #ffffff;
 
    >p {
        text-shadow: 0 2px 6px rgba(18, 16, 60, 0.55);
  font-family: Muli;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
  text-align: center;
padding-top: 3px;
    }
}
.discription {
    padding-top: 100px;
}
.discription-detail {
    padding-right: 30px;
}
.link-taker-container {
>.link-taker-icon {
    color: white;
    font-size: 22px;
}
>p {
    padding-left: 9px;
    padding-right: 30px;
}
}
 