.user-image-container {
    background-image: url(/images/FullScreen/Full_screen_04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 768px;
    height: 100%;
    min-height: 100vh ;
    padding-bottom: 75px;
}
.user-account-profile {
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 29px;
    padding-top: 15px;
    >.account-profile-info {
        >.account-profile-number {
    font-family: Muli;
      font-size: 2rem;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
        }
        >p {
            font-family: Muli;
            font-size: 1.2em;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            
        }
    }
}
.link-to-propositions-container {
    display: flex;
    flex-direction: row;
    padding-left: 29px;
    padding-top: 10px;
    >p {
        font-family: Muli;
        font-size: 1.2em;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
    }
    >img {
        position: relative;
        top: -8.5px;
        left: 5px;
    }
}
.edit-profile-container {
    width: 294px;
    border-radius: 37.5px;
    text-align: center;
    height: 60px;
    font-weight: bold;
    font-family: Muli;
    color: white;
    line-height: 1.44px;
    background-color: transparent;
    border-color: white;
   }
   .image-propositions {
    width: 160px;
    height: 180px;
    border-radius: 18px;
   }
   .propositons-container {
    display: inline-block;
    background-image: url(/images/Propositions/_0002_Propositions_03.jpg);
    background-size: 100% 100%;
    width: 38vw;
    height: 38vw;
    border-radius: 18px;
    background-repeat: no-repeat;
    margin-left: 15px;
    position: relative;
    > p {
        position: absolute;
        overflow: hidden;
        text-overflow: ellipsis; 
        font-family: Muli;
        font-size: 1em;
        font-weight: 500;
        color: #ffffff;
        margin-bottom: 0px;
        bottom: 15px;
        left: 0px;
        width: 100%;
        padding: 0px 15px;
        max-height: 48px;
        max-height: 48px;
        white-space: initial;
    }
   }
   .edit-button-container {
    padding-top: 30px;
   }
   .prop-container {
    overflow: auto;
    white-space: nowrap;
    padding-left: 14px;
   }
   .user-charity {
    font-size: 16px;
   }
  