@import "assets/css/variables";

.wrapper-date-range-picker-custom {
  .date-range-custom {
    width: 100%;
    input {
      font-size: 14px;
    }
    .ant-input-disabled {
      border: solid 1px #b0b0b9;
      color: #000000;
    }
  }
}
