.home-image {
    background-image: url(/images/1.png);
    background-repeat: no-repeat;
    background-size: cover ;
    width: 100%;
    position: fixed;
    bottom: 0;
    top: 0;
    max-width: 786px;
   
}
.giver-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.top-navbar-giver-home {
    background-color: rgba(34, 34, 34, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;
    padding-left: 16px;
    padding-right: 26px;
}
.navbar-giver-home-container {
 
    display: flex;
    flex-direction: row;
    >.info-user {
        text-shadow: 0 2px 6px rgba(18, 16, 60, 0.45);
  font-family: Muli;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #ffffff;
    }
   
}
.title-post {
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  font-family: Muli-Regular_;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #ffffff
  
}
.home-text {
    text-shadow: 0 2px 6px rgba(18, 16, 60, 0.45);
  font-family: Muli;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  color: #ffffff;
  padding-left: 5.8px;
}
.action-container {
    display: flex;
    flex-direction: column;
}
.raise-a-voice-container {
   border-top-right-radius: 18px;
   border-bottom-right-radius: 18px;
    box-shadow: 0 5px 10px 0 rgba(10, 20, 58, 0.08);
    background-color: rgba(102, 102, 102, 0.5);
    display: flex;
    text-shadow: 0 2px 6px rgba(18, 16, 60, 0.45);
    font-family: Muli-Regular;
     font-size: 16px;
     margin-right: 40%;
     padding-left: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding-top: 25px;
    padding-bottom: 20px;
    
  >.commentIcon {
    margin-left: 10px;
  }
}
.home-content {
    margin-left: 4.7%;
    margin-right: 4.7%;
    margin-top: 3.6%;
}
.home-time-content {
    display: flex; 

}
.availble-time-text {
    padding-left: 5.8%;
}
.time-container {
    padding-top: 3%;
}
.hashtags {
    margin-top: -10px;
}
.due-date {
    padding-top: 2%;
}
.grid-container {
    position: absolute;
    bottom: 20%;
    display: inline-block;
}
.comment-container {
    margin-left: 26px;
    
}
.comment-container {
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  font-family: Muli;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #ffffff;
  

}
.comment-text-style {
    display: flex;
}
.demo-comment {
    padding-left: 26px;
    float: left;
    display: flex;
}
.action {
font-family: Muli-Regular_;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #ffffff;
}