.noti-image {
    border-radius: 6px;
}
.noti-hours-ago {
    text-align: left;
    padding-top: 9px;
}
.mess-content {
    padding-top: 3px;
}
.noti-preview-container {
    align-items: flex-start;
}
.icon-follow-noti {
    font-size: 30px;
    color: #999;
}