.bgImg {
    text-align: center;
    border-bottom: #cdcdcd solid 1px;
    width: 100%;
}
.bg-avatar-left {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 30%;
    height: 178.15px;
    object-fit: cover;
}
.bg-avatar-right {
    position: absolute;
    z-index: 1;
    right: 0;
    width: 30%;
    height: 178.15px;
    object-fit: cover;
}
.info-bg {
    padding: 50px 15px 10px 15px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
    min-height: 200px;
    .icon-star {
        border-radius: 50%;
        background-color: #ddae53;
        color: #ffffff;
        position: absolute;
        right: 0px;
        border: 3px solid #ffffff;
        padding: 3px;
        font-size: 23px;
        line-height: 10px;
    }
    .image {
        position: relative;
        max-width: 100px;
        margin: 0 auto;
        img {
            width: 100%;
            height: auto;
            max-height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }

        .avatar-image{
            width: 100px;
            height: 100px;
        }
    }

    .text {
        font-size: 20px 0px 10px 20px;
        color: #262626;
   
    }
}
.wrapper-profile {
    padding: 25px;
    .form-submit {
        padding-bottom: 45px;

        .form-text {
            width: 100%;
            font-size: 18px;
            line-height: 24px;
           
        }
    }
}
.form-upload {
    width: 100%;
}
.thumbnail-image {
    margin-bottom: 50px;
    .btn-primary {
        width: 100%;
        height: 20px;
        background-color: #ddae53;
        color: #ffffff;
    }
}
.button {
    width: 100%;
    height: 50px;
    background-color: #ddae53;
    color: #ffffff;
    border-radius: 30px;
    border: 0px;
}

.avatar-uploader {
    .ant-upload.ant-upload-select-picture-card {
        width: 100%;
        border-radius: 5px;
    }
}
.username-label {
    font-family: Muli;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: normal;
  color: #999999;


}
.form-upload-fullPhoto {
    background-color: #d8d8d8;
    align-items: center;
    display: flex;
    /* flex: 1; */
    justify-content: center;
    flex-direction: column;
    >label {
        padding-top: 60px;
    }
}
.edit-profile-button {
    margin-top: 50px;
}
.full-photo-image {
    border-radius: 16px;
}
.foudation-text {
    [type=text] {
        color: #ddae53;
    }
}

