.ic-t1 {
    padding-top: 54px ;
    margin-left: 50px;
    font-family: Muli;
    font-size: 1.7em;
    font-weight: 500;
    color: #081F47;
}
.ic-t2 {
    margin-top: -7px;
    margin-left: 50px;
    font-family: Muli;
    font-size: 40px;
    font-weight: bold;
    color: #081F47;
}
.inputButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25%;
}