.ic-t1 {
    padding-top: 54px ;
    margin-left: 50px;
    font-family: Muli;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
/* identical to box height */
color: #081F47;
}
.ic-t2 {
margin-top: -7px;
    margin-left: 50px;
    font-family: Muli;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;

color: #081F47;
}
.inputButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25%;
}