.tripto-table {
  tbody {
    td {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .ant-table-thead > tr > th {
    background: var(--component-background);
    color: var(--text-color-table-header);
  }

  .ant-table-small {
    .ant-table-thead > tr > th {
      background: var(--component-background);
      color: var(--text-color-table-header);
    }
  }

  .ant-table,
  .ant-table-cell-fix-left,
  .ant-table-cell-fix-right,
  td.ant-table-column-sort {
    background: var(--component-background);
    color: var(--text-color);
  }

  .ant-table-thead
    > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
    > td,
  .ant-table-tbody
    > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
    > td,
  .ant-table-thead
    > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
    > td,
  .ant-table-tbody
    > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
    > td {
    color: var(--text-color-table-hover);
  }
}

.ant-table-body {
  overflow: auto !important;
}

.table--antd_wrapper {
  .ant-radio-button-wrapper {
    background: var(--component-background);
    color: var(--text-color);
  }

  .ant-form-item-label > label {
    color: var(--text-color);
  }
}
