.home-comment-container {
    display: flex;
    flex-direction: row;
    padding-right: 28px;
    justify-content: space-between;
}
.comment-body-conatiner {
    padding-right: 12.5%;
}

.content-container {
    flex: 11;
    padding-left: 20px;
    padding-top: 22px;
    padding-bottom: 20px;
    font-family: Muli;
    display: flex;
    flex-direction: row;
    >.info-post {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        > p{
            margin-bottom: 5px;
        }
        >.post-offer-content {
            padding-right: 22.7%;
        }
        >.user-name {
            font-size: 1.5em;
            font-weight: bold;
            line-height: 1.11; 
            color: #333333;
        }
        >.offer-content {
            font-size: 1.2em;
            line-height: 1.25;
            color: #666666;
            flex: 1;
        }
        .time-post-offer {
            font-size: 1em;
            line-height: 1.29;
            color: #999999;
        }
    }
    
}
.gap {
    background-color: #eff1f4;
    height:8px;
    border-width: 0;
}
.time-post-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 10%;
    padding-top: 9px;
    >.reply {
        position: relative;
        top: -18%;
        background-color: Transparent;
        font-family: Muli;
        font-size: 1em;
        font-weight: 600;
        line-height: 1.29;
        color: #081f47;
        border: none;
        background-repeat:no-repeat;
        cursor:pointer;
        overflow: hidden;  
    }
}
.input-comment-container {
    border-top: 1px solid #999999;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    // align-items: center;
    border-top-color: #999999;
    border-width: 1px;
    background-color: white;
    // padding-bottom: 20px;
    height: 69px;
    width: 100%;
    max-width: 786px;
    padding-right: 20px;
    // align-items: center;;
    z-index: 10000;
}
.input-comment-with-icon {
    // width: 80%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   >.post-comment-button {
        position: absolute;
        // left: 87%;
        right: 2%;
        top: 20px;
    }
    >textarea {
        width: 100%;
        height: 40px;
        margin-left: 20px;
        border-radius: 18px ;
        background-color: #f1f2f4;
        border-width: 0;
        padding-left: 20px;
        padding-right: 40px;
        padding-top: 8px;
        padding-bottom: 5px;
        resize: none;
    }

}
.comment-avatar {
    flex-grow: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    bottom: -10px;
}
.comment-list-container {
    padding-bottom: 15%;
}
.button-trans {
    background-color: Transparent;
    border: none;
    background-repeat:no-repeat;
    cursor:pointer;
}