.filledButton {
    --f7-button-bg-color: #DDAE53;
    --f7-button-border-radius: 37.5px; 
    --f7-button-text-color: #FFFFFF;
    --f7-button-text-align: center;
    --f7-button-large-height: 60px;
    --f7-button-font-weight: bold;
    --f7-button-font-family: Muli;
    --f7-button-font-style: normal;
    --f7-button-line-height: 26px;
    
}
.outlineButton {
    --f7-button-outline-border-color: #DDAE53;
    --f7-button-border-radius: 37.5px; 
    --f7-button-text-color: #DDAE53;
    --f7-button-text-align: center;
    --f7-button-outline-border-width: 1px;
    --f7-button-large-height: 60px;
    --f7-button-font-weight: bold;
    --f7-button-font-family: Muli;
    --f7-button-font-style: normal;
    --f7-button-line-height: 26px;
}


