.bgImage {
    background-image: url(../../../../../public/images/background.png);
    background-repeat: no-repeat;
    position: absolute;
<<<<<<< HEAD
    width: 414px;
=======
    width: 100%;
>>>>>>> 62ca758e69d3ff2ff308d24105acbe96faebdfa0
    height: 178.15px;
    left: 0px;
    right: 0px;
    top: 115.92px;
    }
    