.bgImage {
    background-image: url(../../../../../public/images/background.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 414px;
    height: 178.15px;
    left: 0px;
    right: 0px;
    top: 115.92px;
    }
    