.container {
  position: relative;
  // z-index: 10000;
}
.home-image {
  // background-image: url('https://images.unsplash.com/photo-1553152531-b98a2fc8d3bf?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb');
  // background-repeat: no-repeat;
  // background-size: cover;
  max-width: 768px;
  min-height: 100vh;
  z-index: 1;
}

.image-background-div {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.image-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
   z-index: -10;
}

.giver-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
  object-fit: cover;
}
.top-navbar-giver-home {
  background-color: rgba(34, 34, 34, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px 17px;
}
.navbar-giver-home-container {
  display: flex;
  flex-direction: row;
  > .info-user {
    text-shadow: 0 2px 6px rgba(18, 16, 60, 0.45);
    font-family: Muli;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.22;
    color: #ffffff;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > p {
      margin-bottom: 0px;
      font-weight: 300;

      &.username,
      &.username a {
        font-weight: 600;
        color: #ffffff;
      }
    }
  }
}
.title-post {
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  font-family: Muli;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.27;
  color: #ffffff;
}
.home-text {
  text-shadow: 0 2px 6px rgba(18, 16, 60, 0.45);
  font-family: Muli;
  font-size: 1em;
  line-height: 1.41;
  color: #ffffff;
  padding-left: 5.8px;
  span {
    font-size: 1em;
  }
}
.action-container {
  display: flex;
  flex-direction: column;
}
.raise-a-voice-container {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 0 5px 10px 0 rgba(10, 20, 58, 0.08);
  background-color: rgba(102, 102, 102, 0.5);
  display: flex;
  text-shadow: 0 2px 6px rgba(18, 16, 60, 0.45);
  font-family: Muli-Regular;
  font-size: 1em;
  font-weight: 600;
  color: #ffffff;
  padding: 2px 15px 2px 20px;
  line-height: 24px;
  max-width: 170px;

  > .commentIcon {
    margin-left: 10px;
  }

  button {
    border: 0px;
    padding: 0px;
    display: flex;
    color: #fff;
    align-items: center;
    font-size: 1em;
    &:hover,
    &:focus {
      background: transparent;
    }

    i {
      font-size: 1.5em;
      margin: 0 12px;
    }
  }
}
.home-content {
  padding: 0 20px;
  margin-top: 3.6%;
}
.home-time-content {
  display: flex;
}
.available-time-text {
  padding-left: 5.8%;
}
.time-container {
  padding-top: 3%;
}

.hastags {
  display: inline;
  padding-left: 0;
}
.due-date {
  padding-top: 13px;
}
.comment-wrapper {
  position: absolute;
  bottom: 120px;
  display: inline-block;
}

.coment-item-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 200px;
}

.comment-container {
  display: flex;
  flex-direction: column;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  font-family: Muli;
  font-size: 1em;
  line-height: 1.2;
  color: #ffffff;
}
.comment-text-style {
  display: flex;
}
.demo-comment {
  padding-left: 20px;
  float: left;
  display: flex;
}
.action {
  font-family: Muli;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.11;
  color: #ffffff;
}
.action-container {
  position: relative;
  .social-action-wrapper {
    position: absolute;
    right: 20px;
    bottom: -25px;

    > div {
      margin-bottom: 35px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}
   