.search-text {
    width: 100%;

    .MuiInput-formControl {
        height: 60px;
    }
}
.wrapper-search {
    padding: 10px 20px 30px 20px;
}
.photo-summary {
    position: relative;
    .icon-star {
        border-radius: 50%;
        background-color: #ddae53;
        color: #ffffff;
        position: absolute;
        border: 1px solid #ffffff;
        font-size: 23px;
        line-height: 10px;
    }
    .info-photo {
        border-radius: 50%;
    }
    .text {
        font-size: 20px 0px 10px 20px;
        color: #262626;
    }
}
