.search-text {
    width: 100%;

    .MuiInput-formControl {
        height: 60px;
    }
}
.wrapper-search {
    padding: 10px 20px 30px 20px;
}

.icon-search {
    border: none;
    background: none;
    font-size: 22px;
    color: #faad14;
}
.info-list {
    border-radius: 12px;
}
.custom-tabs {
    padding: 20px 0px 0px 0px;
    .ant-tabs-nav-list {
        width: 100vw;
        padding-left: 15px;
        padding-right: 15px;
    }
    .ant-tabs {
        overflow: auto;
    }
    span {
        font-size: 16px;
    }
}
.ant-tabs-content-holder{
    overflow-y: auto;
    height: calc(100vh - 312px);
    overflow-x: hidden;
}
