.outlineButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
   }
   .ol-bn-container {
    width: 294px;
    border-radius: 37.5px;
    text-align: center;
    height: 60px;
    font-weight: bold;
    font-family: Muli;
    font-style: normal;
    color: #ddae53;
    font-stretch: normal;
    line-height: 1.44px;
    background-color: #ffffff;
    border: solid 1px #ddae53;
   }